#heading{
    height: 50px;
    text-align: center;
    width: auto;
    height: 100px;
    background-color: black;
    color: white;
    padding-top: 20px;

}
ul{
    list-style-type: none;
}
.one{
    float: left;
    padding-right: 20px;
}
.two{
    float:left;
    padding-right: 20px;
}
#copyright{
    height:20px;
    text-align: center;
    width: auto;
    height: 40px;
    background-color: black;
    color: white;
    padding-top: 13px;
}
